@charset "UTF-8";
@import "../../modules/_common-modules";

.idea-page-logo{
  height:rem(100px);
  background: #fff;
  position:relative;
  .logo{
    position:absolute;
    left:8%;
    top:50%;
    margin-top: rem(-22.5px);
    width:rem(98px);
    height:rem(45px);
    display:inline-block;
    img{
      width:100%;
    }
  }
}
.idea-page-item-firstCon{
  flex: 1;
  background:url("../../../img/scene/first/firstBg.png") no-repeat center;
  background-size:cover;
  text-align: center;
  position:relative;
  .star-element{
    position:absolute;
    left:43%;
    top:rem(80px);
    animation: starScale 3s infinite linear;
  }
  .computer-element{
    position:absolute;
    display:inline-table;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    img{width:100%;}
  }
  .connect-us{
    position:absolute;
    left:50%;
    margin-left:rem(-80px);
    bottom:rem(60px);
  }
}

@media (max-width: 767px) {
  .logo{left:rem(60px) !important;}
  .star-element{left:65% !important;}
  .idea-page-item-firstCon .connect-us{
    font-size: rem(25px);
    padding: rem(10px) rem(55px);
    margin-left:rem(-110px);
    bottom:rem(180px) !important;
  }
}
@keyframes starScale {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  25% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.0);
    opacity: 1.0;
  }
  75% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0.0;
  }
}
/*第二屏*/
.idea-page-item-secondCon{
  width:100%;
  background-color: #100c67;
  flex:1;
  margin:auto;
  position:relative;
  .idea-page-item-left{
    position:absolute;
    left:0;
    top:50%;
    margin-top: rem(-180px);
  }
  .idea-page-item-right{
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    .team-element{
      display:inline-block;
      width:100%;
      height:100%;
      background: url("../../../img/scene/second/team.png") no-repeat center;
      background-size: contain;
      img{width:100%;}
    }
  }
}
@media (max-width: 767px) {
  .idea-page-item-secondCon{
    display: flex;
    flex-direction: column;
    .idea-page-item-left{
      top:0;
      margin-top: initial;
      text-align: center;
      width:100%;
      .connect-us{
        font-size: rem(25px);
        padding: rem(10px) rem(55px);
      }
    }
    .idea-page-item-right{
      bottom:0;
      top:initial;
      width:100%;
      height:50%;
    }
    .idea-page-item-left,.idea-page-item-right{flex: 1;}
  }
}

/*第三屏*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 5px;
  height: 10px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ddd;
}
.idea-page-item-thirdCon{
  width:100%;
  height:100%;
  background-color:#f4ece5;
  position:relative;
  .business-items{
    width:90%;
    height:rem(562px);
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
  }
  .business-item{
    height:100%;
    display:flex;
    flex-direction:column;
    border-right:rem(1px) solid #fff;
    &:last-child{border-right:0;}
  }
  .business-item.col-md-2,.business-item.col-xs-4,.business-item.col-md-6,.business-item.col-xs-12,.business-item.col-sm-3{padding:0;}
  .business-item-top{
    width:100%;
    height:rem(156px);
    background-color:#1b76bc;
    position:relative;
  }
  .business-item-topCon{
    height:rem(110px);
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    text-align:center;
    .business-ico{
      width:rem(44px);
      height:rem(44px);
      display:inline-block;
    }
    .business-tit{
      font-size:rem(24px);
      color:#fff;
    }
    .business-tit-aim{
      font-size:rem(14px);
      color:#a9e1f8;
    }
  }
  .business-item-con{
    width:100%;
    flex:1;
    background-color:#e1e1e1;
    padding:rem(40px) rem(30px);
    overflow-y: auto;
    .detail-txt{
      margin-top: rem(15px);
      line-height:rem(25px);
      color:#a2a2a2;
    }
    .detail-btn{
      padding:rem(6px) rem(50px);
      border-radius:rem(30px);
      background-color:#1b76bc;
      &.hover-ripple-out:before{border-radius:rem(30px);}
    }
  }
  .business-lists{
    width:100%;
    .business-list{
      float:left;
      width:rem(180px);
      height:rem(72px);
      margin-right:rem(30px);
      background-color:#d7d6d6;
      padding:rem(10px);
    }
    .list-tit{
      position:relative;
      line-height:rem(25px);
    }
    .more-arrow{
      width:rem(18px);
      height:rem(18px);
      display:inline-block;
      position:absolute;
      right:rem(0px);
      top:rem(3px);
      img{
        width:100%;
        height:100%;
      }
    }
    .list-aim{
      color:#a2a2a2;
      margin:rem(5px) 0;
    }
  }
  .business-ul-lists{
    width:100%;
    li{
      width:100%;
      line-height:rem(50px);
      text-align:center;
      font-size:rem(16px);
      color:#333;
      a:hover{color:#1b76bc;}
    }
  }
}
.business-item:hover{
  .business-item-top{background-color:#3db1ea;transform: scale(1,1.05);transform-origin: center bottom;transition:transform .3s;}
  box-shadow: 0 0 rem(15px) #333;
  border-right:0;
  z-index:2;
  .detail-btn{background-color:#3db1ea;}
  .hover-ripple-out:before{border-color:#3db1ea !important;}
  .business-item-con{background-color: #fff;}
  .business-list{background-color: #f3f3f3;}
  .business-ul-lists li a:hover{color:#3db1ea;}
}
@media (max-width: 767px) {
  .business-items{
    width:100% !important;
    height:100% !important;
  }
  .business-item{height:50% !important;}
}

/*第四屏*/
.idea-page-item-fouthCon{
  width:100%;
  flex:1;
  background:url("../../../img/scene/fouth/fouthBg.png") no-repeat center;
  background-size:cover;
  text-align:center;
  position:relative;
  .idea-page-item-contactUs{
    background-color:#fff;
    height:rem(500px);
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:rem(50px) 0;
    .contact-item input{
      height:rem(50px);
      border:1px solid #d5d5d5;
      padding-left: rem(30px);
      width:75%;
      border-radius:rem(4px);
      margin-top:rem(20px);
    }
    .submit-btn{
      padding:0;
      width:rem(138px);
      height:rem(35px);
    }
    .submit-btn-input{
      width:100%;
      height:100%;
      background-color:transparent;
      border:0;
    }
  }
}
.idea-page-copyright{
   width:100%;
   height:rem(88px);
   line-height:rem(88px);
   text-align:center;
   background-color:#021236;
   position:relative;
   .contact-way{
     position:absolute;
     right:rem(30px);
     top:50%;
     margin-top:rem(-30px);
     line-height:rem(20px);
     .focus-phone{display: inline-block;}
     .focus-weibo{
       display:inline-block;
       padding:rem(3px) rem(30px);
       border:1px solid #fff;
       border-radius: rem(4px);
       margin-top: rem(10px);
       cursor:pointer;
     }
     .focus-weibo:hover{
        background-color:#197bb1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
   }
 }
@media (max-width: 767px) {
  .idea-page-item-fouthCon .submit-btn{
    width:rem(150px) !important;
    height:rem(45px) !important;
  }
}